<div class="module log-breakfast" style="background-image: url('/media/timeline-bg/{{ bgImage }}_BG.png')">
  <div class="unexpanded-widget slider-widget">
    <span class="title">{{ title }}</span><br>
    <span class="sub-text">{{ subText }}</span>
    <div class="graphic-container">
      <div class="bar-graphic">
        <div class="data"></div>
      </div>
      <span class="bar-graphic-text-left">{{ barTextLeft }}</span>
      <span class="bar-graphic-text-right">{{ barTextRight }}</span>
    </div>

    <div class="bottom-bar">
      <i class="icon-filled {{ icon }}"></i>
      <div class="status {{ colorClass }}">
        <span class="text">{{ status }}</span>
      </div>
    </div>
  </div>
</div>