<div class="module log-breakfast" style="background-image: url('/media/timeline-bg/{{ bgImage }}_BG.png')">
  <div class="unexpanded-widget slider-widget">
    <span class="title">{{ title }}</span><br>
    <span class="sub-text">{{ subText }}</span>
    <div class="graphic-container">
      <span class="first-line-data">{{ firstLine }}</span><br>
      <span class="second-line-data">{{ secondLine }}</span>
    </div>

    <div class="bottom-bar">
      <i class="icon-filled {{ icon }}"></i>
      <div class="status {{ colorClass }}">
        <span class="text">{{ status }}</span>
      </div>
    </div>
  </div>
</div>