<img src="../../media/overview/overview_{{ overviewBG }}.jpg">
<h3 class="name">{{ name }}</h3>
<h4 class="status">{{ overviewStatus }}</h4>
<div class="progress-cta">
  <div class="progress" style="width: {{ progress }}">{{ progress }}</div>
</div>
<div class="data-cta">
  <div class="data-left">
    <span class="value">{{ leftValue }}</span>
    <span class="unit">{{ leftUnit }}</span>
    <span class="average">{{ leftAvg }}</span>
  </div>
  <div class="data-right">
    <span class="value">{{ rightValue }}</span>
    <span class="unit">{{ rightUnit }}</span>
    <span class="average">{{ rightAvg }}</span>
  </div>
</div>