<div class="module log-breakfast" style="background-image: url('/media/timeline-bg/{{ bgImage }}_BG.png')">
  <div class="unexpanded-widget slider-widget">
    <span class="title">{{ title }}</span><br>
    <span class="sub-text">{{ subText }}</span>
    <div class="graphic-container">
      <div class="data-container">
        <div class="data-left">
          <span class="first-line-data">{{ firstLineLeft }}</span><br>
          <span class="second-line-data">{{ secondLineLeft }}</span>
        </div>
        <div class="data-right">
          <span class="first-line-data">{{ firstLineRight }}</span><br>
          <span class="second-line-data">{{ secondLineRight }}</span>
        </div>
      </div>
    </div>

    <div class="bottom-bar">
      <i class="icon-filled {{ icon }}"></i>
      <div class="status {{ colorClass }}">
        <span class="text">{{ status }}</span>
      </div>
    </div>
  </div>
</div>